<div class="container">
    <mat-card class="home mat-elevation-z3 example-card">
        <mat-card-title class="title">Bem Vindo!</mat-card-title>
        <mat-card-subtitle class="subtitle">
        100
        </mat-card-subtitle>
    </mat-card>

    <mat-card class="home mat-elevation-z3 example-card">
        <mat-card-title class="title">Bem Vindo!</mat-card-title>
        <mat-card-subtitle class="subtitle">
            100    
        </mat-card-subtitle>
    </mat-card>

    <mat-card class="home mat-elevation-z3 example-card">
        <mat-card-title class="title">Bem Vindo!</mat-card-title>
        <mat-card-subtitle class="subtitle">
            100    
        </mat-card-subtitle>
    </mat-card>    
</div>