<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Bem Vindo!</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Um sistema financeiro é um conjunto de instituições, mercados e mecanismos que permite a gestão, circulação e alocação de recursos financeiros em uma economia. Ele engloba bancos, bolsas de valores, seguradoras, fundos de investimento, entre outros elementos, que facilitam transações financeiras, investimentos e empréstimos. Em um projeto pessoal, um entendimento básico desse sistema é fundamental para tomar decisões financeiras informadas e alcançar seus objetivos financeiros de forma eficiente.
    </mat-card-subtitle>
</mat-card>