.sidenav {
    /*background-color: #f8f9fa;*/
    background: #f8f9fa; 
    border-color: #f8f9fa;
    width: 270px;
}

.list-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 50px; 
    margin: 1px 2em 2em auto;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #f8f9fa;
}

.active,li :hover  {
    border-radius: 0.5rem;
    background-color: #fff;
    height: 50px; 
    color: #344767;
    font-weight: 600;
    margin: 1em 2em 2em auto;
    border-radius: 0.5rem;
    /*border: 1px solid blue;*/
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
}

.listCustom {
    list-style-type: none;
    margin-top: 2rem;
}

a {
    align-items: center;
}
