.sidenav {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    width: 200px;
}

.list-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #f8f9fa;
}

.active {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
    height: 60px;
    color: #344767;
    font-weight: 600;
    margin: 2em auto;
    border-radius: 0.5rem;
}

.listCustom {
    list-style-type: none;
    margin-top: 2rem;
}

a {
    align-items: center;
}